<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857654937773-fr9feggh3r8slq24566vouqs7ab0phps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857654937773-fr9feggh3r8slq24566vouqs7ab0phps</string>
	<key>API_KEY</key>
	<string>AIzaSyAt_VKcXDTUJnl99BpdZN7NhdVNEibQr70</string>
	<key>GCM_SENDER_ID</key>
	<string>857654937773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telegram.Telegram</string>
	<key>PROJECT_ID</key>
	<string>telegram-f4eb1</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-f4eb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857654937773:ios:cbff6f257525b73e9a5e24</string>
</dict>
</plist>